﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CFC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.m.." integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>*@
    <style type="text/css">
        h4 {
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            color: #258CFF;
            margin: 50px 0px 10px 0px;
        }
        .table-bordered {
            border: 2px solid #121215;
        }
        td {
            font-family: Open Sans, sans-serif;
            vertical-align: middle !important;
            /*background-color: #EFEFEF;*/
        }
        td p {
            margin-bottom: 0.75rem;
            margin-top: 0.75rem !important;
        }
        #name1 {
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
            color: #258CFF;
            margin: 50px 0px 10px 0px;
        }
        #name2 {
            font-family: Montserrat, sans-serif;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
            color: #258CFF;
            margin: 50px 0px 10px 0px;
        }
        header {
            background-color: #8FE764 !important;
        }
        #calculate {
            margin: 30px 0px 0px 0px;
            background-color: #65CF33 !important;
            border: 0px;
            font-family: Montserrat;
            font-weight: 600;
        }
        nav a {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 16px;
        }
        header div p {
            font-family: Montserrat;
            font-weight: 600;
            font-size: 20px;
        }
        .hider {
            display: none;
        }
        .summaG {
            color: #65CF33;
        }
        .summaR {
            color: #FF4040;
        }
        
    </style>
</head>
<body>
    <header class="p-3 px-md-4 mb-3 border-bottom shadow-sm fixed-top">
        <div class="container d-flex align-items-center">
            <p class="my-0 me-md-auto">Расчет теплового баланса<br />камерной печи</p>
            <nav class="navbar ml-auto my-2 my-md-0 me-md-3" style="padding: 0;">
                <a id="a1" href="#start" class=" text-dark">Исходные данные</a>
                <a id="a2" href="#result" class="ml-5 text-dark hider">Результаты расчета</a>
                <a id="a3" href="#myChart2" class="ml-5 text-dark hider">Графики</a>
            </nav>
        </div>
    </header>
    <main role="main" style="padding-top: 100px;">
        <div class="container">
            @RenderBody()
        </div>
    </main>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
