﻿@model IndexViewModel;
@{
    ViewData["Title"] = "Курсач";
}

<form action="/Home/Index" method="post">
    <div class="d-flex justify-content-between">
        <div style="width: 45%;">
            <h4 id="start">Состав природного газа, % об.<br />Сумма газовой смеси:&#160;<span id="summa" class="summaG"></span></h4>
            <table id="table_gas" class="table table-bordered table-responsive" style="">
                <tr>
                    <td style="width: 76%">CH4</td>
                    <td>
                        <input type="text" name="CH4Content" value="@Model.InputML.CH4Content" class="form-control ch4-content gas inp" id="ch4-content">
                    </td>
                </tr>
                <tr>
                    <td>C2H6</td>
                    <td>
                        <input type="text" name="C2H6Content" value="@Model.InputML.C2H6Content" class="form-control c2h6-content gas inp" id="c2h6-content">
                    </td>
                </tr>
                <tr>
                    <td>C3H8</td>
                    <td>
                        <input type="text" name="C3H8Content" value="@Model.InputML.C3H8Content" class="form-control c3h8-content gas inp" id="c3h8-content">
                    </td>
                </tr>
                <tr>
                    <td>C4H10</td>
                    <td>
                        <input type="text" name="C4H10Content" value="@Model.InputML.C4H10Content" class="form-control c4h10-content gas inp" id="c4h10-content">
                    </td>
                </tr>
                <tr>
                    <td>C5H12</td>
                    <td>
                        <input type="text" name="C5H12Content" value="@Model.InputML.C5H12Content" class="form-control c5h12-content gas inp" id="c5h12-content">
                    </td>
                </tr>
                <tr>
                    <td>CO</td>
                    <td>
                        <input type="text" name="COContent" value="@Model.InputML.COContent" class="form-control co-content gas inp" id="co-content">
                    </td>
                </tr>
                <tr>
                    <td>H2</td>
                    <td>
                        <input type="text" name="H2Content" value="@Model.InputML.H2Content" class="form-control h2-content gas inp" id="h2-content">
                    </td>
                </tr>
                <tr>
                    <td>CO2</td>
                    <td>
                        <input type="text" name="CO2Content" value="@Model.InputML.CO2Content" class="form-control co2-content gas inp" id="co2-content">
                    </td>
                </tr>
                <tr>
                    <td>N2</td>
                    <td>
                        <input type="text" name="N2Content" value="@Model.InputML.N2Content" class="form-control n2-content gas inp" id="n2-content">
                    </td>
                </tr>
                <tr>
                    <td>H2O</td>
                    <td>
                        <input type="text" name="H2OContent" value="@Model.InputML.H2OContent" class="form-control h2o-content gas inp" id="h2o-content">
                    </td>
                </tr>
            </table>
        </div>

        <div style="width: 45%;">
            <h4>Рабочее пространство<br />&#160;</h4>
            <table id="table_work_space" class="table table-bordered table-responsive" style="width: fit-content;">
                <tr>
                    <td style="width: 76%">Количество заготовок по длине, шт</td>
                    <td>
                        <input type="text" name="LengthBilletsAmount" value="@Model.InputML.LengthBilletsAmount" class="form-control length-billets-amount inp" id="length-billets-amount">
                    </td>
                </tr>
                <tr>
                    <td>Количество заготовок по ширине, шт</td>
                    <td>
                        <input type="text" name="WidthBilletsAmount" value="@Model.InputML.WidthBilletsAmount" class="form-control width-billets-amount inp" id="width-billets-amount">
                    </td>
                </tr>
                <tr>
                    <td>Промежуток между заготовками, м</td>
                    <td>
                        <input type="text" name="FreeSpaceBetweenBillets" value="@Model.InputML.FreeSpaceBetweenBillets" class="form-control free-space-between-billets inp" id="free-space-between-billets">
                    </td>
                </tr>
                <tr>
                    <td>Высота рабочего пространства, м</td>
                    <td>
                        <input type="text" name="WorkPlaceHeight" value="@Model.InputML.WorkPlaceHeight" class="form-control work-place-height inp" id="work-place-height">
                    </td>
                </tr>
                <tr>
                    <td>Коэффициент избытка воздуха</td>
                    <td>
                        <input type="text" name="Alpha" value="@Model.InputML.Alpha" class="form-control alpha inp" id="alpha">
                    </td>
                </tr>
                <tr>
                    <td>Температура подогрева воздуха, оС</td>
                    <td>
                        <input type="text" name="AirHeatTemp" value="@Model.InputML.AirHeatTemp" class="form-control air-heat-temp inp" id="air-heat-temp">
                    </td>
                </tr>
                <tr>
                    <td>Недожог, %</td>
                    <td>
                        <input type="text" name="Underburn" value="@Model.InputML.Underburn" class="form-control underburn inp" id="underburn">
                    </td>
                </tr>
                <tr>
                    <td>Пирометрический коэффициент</td>
                    <td>
                        <input type="text" name="PyroCoef" value="@Model.InputML.PyroCoef" class="form-control pyro-coef inp" id="pyro-coef">
                    </td>
                </tr>
                <tr>
                    <td>Начал. среднемассовая температура, оС</td>
                    <td>
                        <input type="text" name="StartHeatTemp" value="@Model.InputML.StartHeatTemp" class="form-control start-heat-temp inp" id="start-heat-temp">
                    </td>
                </tr>
                <tr>
                    <td>Температура нагрева, оС</td>
                    <td>
                        <input type="text" name="FinishHeatTemp" value="@Model.InputML.FinishHeatTemp" class="form-control finish-heat-temp inp" id="finish-heat-temp">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <div style="width: 45%;">
            <h4>Параметры заготовки</h4>
            <table id="table_billet" class="table table-bordered table-responsive" style="">
                <tr>
                    <td style="width: 76%">Длина заготовки, м</td>
                    <td>
                        <input type="text" name="BilletLength" value="@Model.InputML.BilletLength" class="form-control billet-length inp" id="billet-length">
                    </td>
                </tr>
                <tr>
                    <td>Ширина заготовки, м</td>
                    <td>
                        <input type="text" name="BilletWidth" value="@Model.InputML.BilletWidth" class="form-control billet-width inp" id="billet-width">
                    </td>
                </tr>
                <tr>
                    <td>Высота заготовки, м</td>
                    <td>
                        <input type="text" name="BilletHeight" value="@Model.InputML.BilletHeight" class="form-control billet-height inp" id="billet-height">
                    </td>
                </tr>
                <tr>
                    <td>Масса одной заготовки, кг</td>
                    <td>
                        <input type="text" name="BilletWeight" value="@Model.InputML.BilletWeight" class="form-control billet-weight inp" id="billet-weight">
                    </td>
                </tr>
                <tr>
                    <td>Коэффициент формы</td>
                    <td>
                        <input type="text" name="FormCoef" value="@Model.InputML.FormCoef" class="form-control form-coef inp" id="form-coef">
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 45%;">
            <h4>Параметры металла</h4>
            <table id="table_metall" class="table table-bordered table-responsive" style="width: fit-content;">
                <tr>
                    <td style="width: 76%">Теплопроводность металла, Вт/(м•К)</td>
                    <td>
                        <input type="text" name="MetallTeploprovodnost" value="@Model.InputML.MetallTeploprovodnost" class="form-control metall-teploprovodnost inp" id="metall-teploprovodnost">
                    </td>
                </tr>
                <tr>
                    <td>Теплоемкость металла, кДж/(кг•К)</td>
                    <td>
                        <input type="text" name="UdelMetallTeploemkost" value="@Model.InputML.UdelMetallTeploemkost" class="form-control udel-metall-teploemkost inp" id="udel-metall-teploemkost">
                    </td>
                </tr>
                <tr>
                    <td>Плотность металла, кг/м3</td>
                    <td>
                        <input type="text" name="MetallDensity" value="@Model.InputML.MetallDensity" class="form-control metall-density" id="metall-density inp">
                    </td>
                </tr>
                <tr>
                    <td>Коэф. излучения АЧТ, Вт•м2/К4</td>
                    <td>
                        <input type="text" name="AbsolutBlackBodyIzluchCoef" value="@Model.InputML.AbsolutBlackBodyIzluchCoef" class="form-control absolut-black-body-izluch-coef inp" id="absolut-black-body-izluch-coef">
                    </td>
                </tr>
                <tr>
                    <td>Степень черноты металла</td>
                    <td>
                        <input type="text" name="MetallBlackyDegree" value="@Model.InputML.MetallBlackyDegree" class="form-control metall-blacky-degree inp" id="metall-blacky-degree">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="text-center">
        <button type="submit" id="calculate" name="calcButton" class="btn btn-primary btn-lg">Рассчитать</button>
        @*<button type="button" class="btn btn-primary ml-3" data-toggle="modal" data-target="#exampleModal">Сохранить как шаблон</button>*@
    </div>

    @*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Сохранение исходных данных</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Введите имя для нового шаблона входных параметров. В будущем вы сможете использовать его повторно:
                </div>
                <div>
                    <input type="text" name="..." value="..." class="from-control" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>*@
</form>

@{
    if (Model.ResultML != null)
    {
        <div onload="loadScroll()" class="d-flex justify-content-between">
            <div style="width: 45%;">
                <h4 id="result" >Расчет горения топлива</h4>
                <table id="table_heatfuel_count" class="table table-bordered table-responsive" style="width: fit-content;">
                    <tr>
                        <td>Низшая рабочая теплота сгорания, кДж/кг</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.DownBurnWorkHeat, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Потребность в кислороде, м3/кг</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.O2Demand, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Теоретический расход воздуха, м3/кг</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.ExpectAirConsump, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Действительный расход воздуха, м3/кг</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.RealAirConsump, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Объем CO2 в продуктах сгорания, м3/кг</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.CO2BurnProdVolume, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Объем H2O в продуктах сгорания, м3/кг</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.H2OBurnProdVolume, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Объем N2 в продуктах сгорания, м3/кг</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.N2BurnProdVolume, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Объем O2 в продуктах сгорания, м3/кг</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.O2BurnProdVolume, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Объем продуктов сгорания, м3/кг</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.FullBurnProdVolume, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Содержание CO2 в продуктах сгорания, %</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.CO2BurnProdContent, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Содержание H2O в продуктах сгорания, %</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.H2OBurnProdContent, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Содержание N2 в продуктах сгорания, %</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.N2BurnProdContent, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Содержание O2 в продуктах сгорания, %</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.O2BurnProdContent, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Теплоемкость воздуха, кДж/(м3•К)</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.AirTeploem, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Химическое теплосодержание топлива, кДж/м3</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.ChemicalFuelTeplosoderzh, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Теплосодержание подогретого воздуха, кДж/м3</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.HeatAirTeplosoderzh, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Общее теоретическое теплосодержание продуктов сгорания, кДж/м3</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.GeneralExpectBurnProdteplosoderzh, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Общее балансовое теплосодержание продуктов сгорания, кДж/м3</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.GeneralBalanceBurnProdTeplosoderzh, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Теоретическая температура горения, оС</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.ExpectBurnTemp, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Балансовая температура горения, оС</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.BalanceBurnTemp, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Температура отходящих газов, оС</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.OutgoingGasTemp, 3)</p>
                        </td>
                    </tr>
                </table>
            </div>

            <div style="width: 45%;">
                <h4>Расчет нагрева металла</h4>
                <table id="table_metall_count" class="table table-bordered table-responsive" style="width: fit-content;">
                    <tr>
                        <td>Приведенный радиус заготовки, м</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.PrivedenBilletRadius, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Степень черноты газов</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.GasBlackyDegree, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Площадь заготовок, м2</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.BilletsSquare, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Площадь поверхности кладки, м2</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.KladkaSurfaceSquare, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Приведенный коэффициент излучения с газа и кладки на металл, Вт•м2/К4</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.PrivedenRadiationCoefFromGasAndKladkaToMetall, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Средний коэффициент лучистой теплоотдачи, Вт/(м2•К)</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.AverageRayRadiationCoef, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Средний коэффициент общей теплоотдачи, Вт/(м2•К)</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.AverageRayTeplootdachaCoef, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Коэффициент диффузии теплоты а, м2/с</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.DifussionCoefOfAHeat, 7)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Число Био</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.Bio, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Безразмерная температура поверхности</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.NoneSurfaceTemp, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Коэффициент P</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.PCoef, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Коэффициент u2</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.u2Coef, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Коэффициент M</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.MCoef, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Коэффициент N</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.NCoef, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Безразмерное время нагрева</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.NoneHeatingTime, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Время нагрева, с</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.HeatingTime, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Безразмерная температура массы</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.NoneHeapTemp, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Безразмерная температура центра</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.NoneCenterTemp, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Среднемассовая температура, оС</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.HeapAverageTemp, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Температура центра, оС</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.CenterTemp, 3)</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Перепад температур в конце, оС</td>
                        <td>
                            <p>@Math.Round(Model.ResultML.TempPerepad, 3)</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="m-auto d-flex flex-column align-items-center" style="width: 50%;">
            <h4>Расчет рабочего пространства</h4>
            <table id="table_workspace_count" class="table table-bordered table-responsive" style="width: fit-content;">
                <tr>
                    <td>Масса садки, кг</td>
                    <td>
                        <p>@Math.Round(Model.ResultML.SadkaWeight, 3)</p>
                    </td>
                </tr>
                <tr>
                    <td>Ширина пода, м</td>
                    <td>
                        <p>@Math.Round(Model.ResultML.PodWidth, 3)</p>
                    </td>
                </tr>
                <tr>
                    <td>Активная длина пода, м</td>
                    <td>
                        <p>@Math.Round(Model.ResultML.ActivePodLength, 3)</p>
                    </td>
                </tr>
                <tr>
                    <td>Полная длина пода, м</td>
                    <td>
                        <p>@Math.Round(Model.ResultML.FullPodLength, 3)</p>
                    </td>
                </tr>
                <tr>
                    <td>Активная площадь пода, м2</td>
                    <td>
                        <p>@Math.Round(Model.ResultML.ActivePodSquare, 3)</p>
                    </td>
                </tr>
                <tr>
                    <td>Полезная площадь пода м2</td>
                    <td>
                        <p>@Math.Round(Model.ResultML.UsePodSquare, 3)</p>
                    </td>
                </tr>
                <tr>
                    <td>Полная площадь пода, м2</td>
                    <td>
                        <p>@Math.Round(Model.ResultML.FullPodSquare, 3)</p>
                    </td>
                </tr>
            </table>
        </div>
        <p id="name2">
            Изменение температур в течение нагрева
        </p>
        <canvas id="myChart2" max-width="400" max-height="400"></canvas>
        <p id="name1">
            Изменение перепада температур в течение нагрева
        </p>
        <canvas id="myChart1" max-width="400" max-height="400"></canvas>

    }
}

<script src="~/package/dist/Chart.js"></script>
<script>
        let peremen1 = document.querySelector('#myChart1');
    if (peremen1) {
        let hider = document.querySelectorAll('.hider');
        hider.forEach(item => item.classList.remove('hider'));
            var ctx1 = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx1, {
        type: 'line',
            data: {
                labels: @Model.Time,
                datasets: [{
                label: 'Перепад',
                    data: @Model.JSONPerepad,
                    backgroundColor: [
                    'rgba(255, 99, 132, 0)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                    borderWidth: 3,
                    pointRadius: 0,
                    hitRadius: 3,
                }]
        },
        options: {
            scales: {
                
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        })
        };
</script>
<script>
    let peremen2 = document.querySelector('#myChart2');
        if (peremen2) {
            var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
        type: 'line',
            data: {
                labels: @Model.Time,
                datasets: [{
                label: 'Температура поверхности',
                    data: @Model.JSONTPOV,
                    backgroundColor: [
                    'rgba(255, 99, 132, 0)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                ],
                    borderWidth: 3,
                    pointRadius: 0,
                    hitRadius: 3,
                },
                {
                label: 'Температура массы',
                    data: @Model.JSONKucha,
                    backgroundColor: [
                    'rgba(255, 99, 132, 0)',
                ],
                borderColor: [
                    'rgba(153, 102, 255, 1)',
                ],
                    borderWidth: 3,
                    pointRadius: 0,
                    hitRadius: 3,
                },
                {
                    label: 'Температура центра',
                    data: @Model.JSONCenter,
                    backgroundColor: [
                    'rgba(255, 99, 132, 0)',
                ],
                borderColor: [
                    'rgba(255, 159, 64, 1)',
                ],
                    borderWidth: 3,
                    pointRadius: 0,
                    hitRadius: 3,
            }]
        },
            options: {
                scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        })
    };
</script>
<script src="~/lib/jquery/dist/jquery.min.js">

</script>

<script>
    function loadScroll() {
        $("html,body").animate({
            scrollTop: $("#result").offset().top - 100
        }, 700)
    }
</script>


